<section>
  <h2><%= @dog.name %></h2>
  <% if @dog.images.count > 1 %>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% @dog.images.each do |image| %>
          <div class="swiper-slide">
            <%= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
          </div>
        <% end %>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <%= javascript_include_tag "carousel" %>
  <% else %>
    <% @dog.images.each do |image| %>
      <div class="swiper-slide">
        <%= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
      </div>
    <% end %>
  <% end %>

  <p><%= @dog.description %></p>

  <div class="btn-group m-2" role="group" aria-label="Edit dog and delete dog button group">
    <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path, class: "btn btn-primary text-decoration-none link-light" %>
    <%= link_to "Delete #{@dog.name}'s Profile", dog_path, class: "btn btn-primary text-decoration-none link-light", method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</section>
